<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body>
<div class="main w-full min-h-screen bg-blue-300 p-10">
    <div class="px-10 pt-5 pb-5 w-full fixed top-0 left-0 bg-blue-700 flex justify-between items-center">
        <div class="back">
            <a class="text-2xl mr-5 text-gray-900 hover:text-gray-200 transition-all duration-900 tracker-tighter" href="/">←Home</a>
            <a class="text-2xl  text-gray-900 hover:text-gray-200 transition-all duration-900 tracker-tighter" href="/">←Back</a>
        </div>
        <h1 class="text-3xl  text-black-900  items-center">All Vendors List</h1>
    <a class="text-3xl text-gray-200" href="/add"><i class="ri-user-add-fill"></i></a>
    </div>
    
    <div class=" container w-full flex flex-col gap-10 mt-20">
        <% if(users.length >0){%>
            <% users.forEach(function(user){ %>
            <div class=" card w-1/2  bg-zinc-200 p-8 rounded-lg flex justify-between">
                <div class="data">
                    <h1 class="text-2xl mb-3 text-black-100"> Name - <%= user.name%></h1>
                    <h1 class="text-2xl mb-3 text-black-100"> Shop Name - <%= user.shopname%></h1>
                    <h1 class="text-2xl mb-3 text-black-100"> Address -<%=user.address%></h1>
                    <h1 class="text-2xl mb-3 text-black-100"> age -<%= user.age%></h1>
                    <h1 class="text-2xl mb-3 text-black-100"> id -<%=user._id%></h1>
                </div>
                <div class="links">
                    <a class="text-2xl mb-3 text-red-800 block" href="/delete/<%=user._id%>"><i class="ri-delete-bin-6-line"></i></a>
                    <a class="text-2xl mb-3 text-green-800 block" href="/update/<%= user._id%>"><i class="ri-file-edit-line"></i></a>
                    <a class="text-2xl mb-3 text-blue-800 block" href="/readmore/<%= user._id%>"><i class="ri-eye-line"></i></a>
                </div>
            </div>    
                <%})%>
            <%}else{%>
                <h3 class="text-xl text-red-600 cursor-pointer">No Vendors available</h3>
                <a class="text-xl text-blue-600" href="/add">Add Vendor</a>
            <%}%>
        </div>
</div>
</body>
</html>